<!DOCTYPE html>
<html>
	<head>
		<title>Welcome, friends!</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<style>
        body {
            padding-bottom: 20px;
            padding-top: 70px;
        }
        .messages {
            list-style: none;
        }
    </style>
	</head>
	<body>
		<div class="container">
			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			{% if error %}
				<p class="error"><strong>Error:</strong> {{ error }} </p>
			{% endif %}
			<!-- inheritance -->
			{% block content %}
			{% endblock %}
			<!-- end inheritance -->
		</div>
	</body>